#progressBarOuter {
    height: 7px;
    background-color: whitesmoke;
    border-radius: 7px;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

#progressBarInner {
    height: 100%;
    width: 0%;
    background-color:cornflowerblue;
    border-radius: 7px;
}

#nextButton {
    margin-top: 50px;
    margin-right: 50px;
    width: 95px;
    height: 57px;
    float: right;
    font-size: x-large;
    color: aliceblue;
    background-color: cornflowerblue;
    border-style: hidden;
    border-radius: 7px;
}

#nextButton:hover {
    background-color: rgb(93, 141, 231);
}